<script type="text/javascript">

    let indexKep = "";
    let kep = "";

    function indexKepBeallit() {
        let preview = document.getElementById("indexKep");
        let file = document.getElementById("indexKepGomb").files[0];
        console.log(file);
        let reader = new FileReader();
        reader.onload = function (e) {
            preview.src = e.target.result;
            indexKep = file;
        }
        reader.readAsDataURL(file);
    }

    function kepBeallit() {
        let preview = document.getElementById("kep");
        let file = document.getElementById("kepGomb").files[0];
        let reader = new FileReader();
        reader.onload = function (e) {
            preview.src = e.target.result;
            kep = file;
        }
        reader.readAsDataURL(file);
    }

    async function kepMentese(nev) {
        const img = document.getElementById(nev);
        const canvas = document.getElementById(nev+'Canvas');
        const ctx = canvas.getContext('2d');
        canvas.width = img.naturalWidth;
        canvas.height = img.naturalHeight;
        ctx.drawImage(img, 0, 0);
        canvas.toBlob(function (blob) {
            if (blob) {
                const file = new File([blob], nev+".jpg", {
                    type: "image/jpeg",
                    lastModified: Date.now(),
                });
                if (nev == "kep") {
                    kep = file;
                    console.log(kep);
                }
                else {
                    indexKep = file;
                    console.log(indexKep);
                }
            } else {
                console.error("A canvas tartalmának Blob-ba alakítása sikertelen.");
            }
        }, "image/jpeg"); 
    }

    function filmTarol() {
        if (kep == "" || indexKep == "") {
            alert("Az indexkép és kép fájl kiválasztása kötelező!");
        }
        else {
            let oszkar = parseInt(document.getElementById("oscarE").value);
            if (oszkar == 0) {
                oszkar = false;
            }
            else {
                oszkar = true;
            }
            let body = {
                "Id": parseInt(document.getElementById("id").textContent),
                "RendezoId": parseInt(document.getElementById("rendezo").value),
                "Cim": document.getElementById("cim").value,
                "Hossz": document.getElementById("hossz").value,
                "MufajId": parseInt(document.getElementById("mufaj").value),
                "OscarE": oszkar,
                "Korhatar": parseInt(document.getElementById("korhatar").value),
                "IndexKep": "",
                "Kep": ""
            }
            let url = "http://localhost:5209/api/film";
            var formData = new FormData();
            formData.append("Json", JSON.stringify(body));
            formData.append("indexKep", indexKep);
            formData.append("kep", kep);
            if (body.Id != 0) {
                axios.put(url, formData).then((response) => {
                    alert(response.data);
                    window.location.replace("../FilmekDTO");
                }).catch((error) => {
                    alert(error);
                    window.location.replace("../FilmekDTO");
                });
            }
            else {
                axios.post(url, formData).then((response) => {
                    alert(response.data);
                    window.location.replace("../FilmekDTO");
                }).catch((error) => {
                    alert(error);
                    window.location.replace("../FilmekDTO");
                });
            }
        }
    }

    window.addEventListener('load', function () {
        kepMentese("indexKep");
        kepMentese("kep");
    });

</script>

@{
    ViewData["Title"] = "Film karbantartó";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>


<div class="container">
    <div class="row">
        <div class="col-12">
            <form onsubmit="filmTarol()">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label id="id" hidden>@((ViewBag.Film as Film).Id)</label>
                        <div class="form-floating mb-3">
                            <input id="cim"
                                   type="text"
                                   class="form-control rounded-3"
                                   value="@((ViewBag.Film as Film).Cim)"
                                   required />
                            <label for="cim">Film címe</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="hossz"
                                   type="time"
                                   class="form-control rounded-3"
                                   value="@((ViewBag.Film as Film).Hossz)"
                                   required />
                            <label for="hossz">Film hossza</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select id="oscarE"
                                    class="form-select">
                                @if ((ViewBag.Film as Film).OscarE)
                                {
                                    <option value="0">
                                        Nem
                                    </option>
                                    <option value="1" selected>
                                        Igen
                                    </option>
                                }
                                else
                                {
                                    <option value="0" selected>
                                        Nem
                                    </option>
                                    <option value="1">
                                        Igen
                                    </option>
                                }
                            </select>
                            <label for="oscarE">Oszkár díjas</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select id="rendezo"
                                    class="form-select">
                                @foreach (Rendezo rendezo in ViewBag.Rendezok)
                                {
                                    if ((ViewBag.Film as Film).RendezoId == rendezo.Id)
                                    {
                                        <option value="@rendezo.Id" selected>
                                            @rendezo.Nev
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@rendezo.Id">
                                            @rendezo.Nev
                                        </option>
                                    }
                                }
                            </select>
                            <label for="rendezo">Rendező</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select id="mufaj"
                                    class="form-select">
                                @foreach (Mufaj mufaj in ViewBag.Mufajok)
                                {
                                    if ((ViewBag.Film as Film).MufajId == mufaj.Id)
                                    {
                                        <option value="@mufaj.Id" selected>
                                            @mufaj.Nev
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@mufaj.Id">
                                            @mufaj.Nev
                                        </option>
                                    }
                                }
                            </select>
                            <label for="mufaj">Műfaj</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="korhatar"
                                   type="number"
                                   class="form-control rounded-3"
                                   value="@((ViewBag.Film as Film).Korhatar)"
                                   min="0"
                                   max="99"
                                   required />
                            <label for="korhatar">Korhatár</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card" style="width:80%;margin:auto;">
                            <img id="indexKep" class="card-img-top" src="@Program.ImageConverter((ViewBag.Film as Film).IndexKep)" title="Indexkép" />
                            <canvas id="indexKepCanvas" style="display:none;"></canvas>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold">Indexkép</p>
                            <input id="indexKepGomb" type="file" onchange="indexKepBeallit()" accept="image/*" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card" style="width:80%;margin:auto;">
                            <img id="kep" class="card-img-top" src="@Program.ImageConverter((ViewBag.Film as Film).Kep)" title="Kép"/>
                            <canvas id="kepCanvas" style="display:none;"></canvas>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold">Kép</p>
                            <input id="kepGomb" type="file" onchange="kepBeallit()" accept="image/*" />
                        </div>
                    </div>
                </div>
                <button id="mentesGomb" class="w-100 mb-2 btn btn-primary btn-lg rounded-3">
                    Adatok mentése
                </button>
            </form>
        </div>
    </div>
</div>



