<script type="text/javascript">


    function rendezoTarol() {
        let body = {
            "Id": parseInt(document.getElementById("id").textContent),
            "Nev": document.getElementById("nev").value,
            "Nemzetiseg": document.getElementById("nemzetiseg").value,
            "SzulDatum": document.getElementById("szulDatum").value,
        }
        let url = "http://localhost:5209/api/rendezo";
        var formData = new FormData();
        formData.append("Json", JSON.stringify(body));
        if (body.Id != 0) {
            axios.put(url, formData).then((response) => {
                alert(response.data);
                window.location.replace("../RendezokDTO");
            }).catch((error) => {
                alert(error);
                window.location.replace("../RendezokDTO");
            });
        }
        else {
            axios.post(url, formData).then((response) => {
                alert(response.data);
                window.location.replace("../RendezokDTO");
            }).catch((error) => {
                alert(error);
                window.location.replace("../RendezokDTO");
            });
        }
    }
</script>



@{
    ViewData["Title"] = "Rendező karbantartó";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form onsubmit="rendezoTarol()">
                <div class="row">
                    <div class="col-md-4 col-sm-12">     
                        <label id="id" hidden>@((ViewBag.Rendezo as Rendezo).Id)</label>

                        <div class="form-floating mb-3">
                            <input id="nev"
                                   type="text"
                                   class="form-control rounded-3"
                                   value="@((ViewBag.Rendezo as Rendezo).Nev)"
                                   required />
                            <label for="cim">Rendező neve</label>
                        </div>



                        <div class="form-floating mb-3">
                            <input id="nemzetiseg"
                                   type="text"
                                   class="form-control rounded-3"
                                   value="@((ViewBag.Rendezo as Rendezo).Nemzetiseg)"
                                   required />
                            <label for="hossz">Nemzetiség</label>
                        </div>



                        <div class="form-floating mb-3">
                            <input id="szulDatum"
                                   type="datetime"
                                   class="form-control rounded-3"
                                   value="@((ViewBag.Rendezo as Rendezo).SzulDatum)"
                                   required />
                            <label for="hossz">Születési dátum</label>
                        </div>
                    </div>
                </div>

                <button id="mentesGomb2" class="w-100 mb-2 btn btn-primary btn-lg rounded-3">
                    Adatok mentése
                </button>
            </form>
        </div>
    </div>
</div>
